<% layout('layouts/boilerplate') %> 

<div class="row">

    <h1 class="text-center">Edit Campground</h1>

    <div class="col-md-6 offset-md-3">
        <div class="card shadow mb-3">
            <div class="card-body">
                <form action="/campgrounds/<%= camp._id %>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">

                    <div class="mb-3">
                        <label class="form-label" for="title">Title</label>
                        <input class="form-control" type="text" id="title" name="campground[title]" value="<%= camp.title %>" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="location">Location</label>
                        <input class = "form-control" type="text" id="location" name="campground[location]" value ="<%= camp.location %>" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-label">Upload image(s)</label>
                        <input class="form-control" type="file" id="image" name="image" multiple>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="price">Campground Price</label>
                        <div class="input-group">
                            <span class="input-group-text" id="price-label">INR</span>
                            <input type="text" id="price" class="form-control" placeholder="" aria-label="Username" aria-describedby="price-label" name="campground[price]" value="<%= camp.price %>" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="description">Description</label>
                        <textarea class = "form-control" type="text-area" id="description" name="campground[description]" required><%= camp.description %></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                    <div class="mb-3">
                        <% camp.images.forEach(function(img, i) { %>
                            <img src="<%= img.thumbnail %>" class="img-thumbnail" alt="">
                            <div class="form-check-inline">
                                <input type="checkbox" name="deleteImages[]" value="<%= img.filename %>" id="img-<%= i %>">
                            </div>
                            <label for="img-<%= i %>">Delete</label>
                        <% }) %>  
                    </div>

                    <div class="mb-3">
                        <button class="btn btn-warning w-100">Save Changes</button>
                    </div>

                </form>
                <a class="btn btn-primary w-100" href="/campgrounds">Cancel</a>
            </div>
        </div>
    </div>
    
</div>
